<!-- 侧边栏 -->
<div class="left-nav">
  <div id="side-nav">
    <ul id="nav">
        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe705;</i>
                <cite>文章管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="<{:U('Article/ArticleList')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>文章列表</cite>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a _href="<{:U('Article/ArticleIssue')}>">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                        <!--<cite>文章发布</cite>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="layui-icon">&#xe600;</i>
                <cite>代理管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="<{:U('Agency/AgencyList')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>代理列表</cite>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="layui-icon">&#xe65e;</i>
                <cite>充值管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="<{:U('Recharge/RechargeRecord')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>充值记录</cite>
                    </a>
                </li>
                <!--<li>-->
                    <!--<a _href="<{:U('Recharge/RechargeList')}>">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                        <!--<cite>充值列表</cite>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="layui-icon">&#xe638;</i>
                <cite>红包管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <!--<li>-->
                    <!--<a _href="<{:U('RedPacket/RedPacketSetting')}>">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                        <!--<cite>红包设置</cite>-->
                    <!--</a>-->
                <!--</li>-->
                <li>
                    <a _href="<{:U('RedPacket/RedPacketList')}>">
                        <i class="iconfont">&#xe6a7;</i>
                        <cite>红包列表</cite>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <i class="iconfont">&#xe6b8;</i>
                <cite>客服管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu">
                <li>
                    <a _href="<{:U('Service/ServiceSetting')}>">
                    <i class="iconfont">&#xe6a7;</i>
                    <cite>客服设置</cite>
                    </a>
                </li>
            </ul>
        </li>

        <!--<li>-->
            <!--<a href="javascript:;">-->
                <!--<i class="iconfont">&#xe6b8;</i>-->
                <!--<cite>作者管理</cite>-->
                <!--<i class="iconfont nav_right">&#xe697;</i>-->
            <!--</a>-->
            <!--<ul class="sub-menu">-->
                <!--<li>-->
                    <!--<a _href="<{:U('Author/AuthorList')}>">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                        <!--<cite>作者列表</cite>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a _href="<{:U('Author/AuthorAdded')}>">-->
                        <!--<i class="iconfont">&#xe6a7;</i>-->
                        <!--<cite>作者添加</cite>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->

    </ul>
  </div>
</div>