<include file="Template/Common/header.html" />

<css href="__CSS__/bootstrap.min.css" />

<style>
    .navbar {margin-bottom: 0; line-height: 50px; padding: 0 10px;}
    .navbar>input {width: 20%; display: inline;}
    .navbar>button {height: 34px; transform: translateY(-2px);}
    .layui-elem-quote {font-size: 15px;}
</style>
<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">充值列表</blockquote>
        <nav class="navbar navbar-default">
            <input type="text" id="article_name" class="form-control" placeholder="请输入充值人的姓名" />
            <button typr="button" class="btn btn-default" id="searchBtn">搜索</button>
        </nav>
        <table id="RechargeList" lay-filter="RechargeList"></table>
    </div>
</body>

<script>

    layui.use('table', function () {
        var table = layui.table;

        layer.load(1);
        // 方法级渲染
        var tableReload = table.render({
            elem: "#RechargeList",
            url: "<{:U('getMemberInfo')}>",
            page: true,
            cols: [[
                {field: 'id', title: 'ID', align: 'center', width:80, sort: true, fixed: 'left'}
                ,{field: 'rechargeName', title: '充值人姓名', align: 'center', width: 100}
                ,{field: 'createTime', title: '订单时间', align: 'center', width: 100, sort: true}
                ,{field: 'money', title: '金额', align: 'center', width: 100, sort: true}
                ,{field: 'statusName', title: '状态', align: 'center', templet: '#statusInfo', width: 100, sort: true}
                ,{title: '操作', width: 150, align: 'center', toolbar: '#operation'}
            ]],
            done: function (res) {
                layer.closeAll();
                console.log(res);
            }
        });

        // 监听工具栏事件
        table.on('tool(RechargeList)', function (obj) {
            var data = obj.data;    // 获取当前数据
            var layEvent = obj.event;   // 获取 lay-event 对应的值
            var tr = obj.tr;    // 获取当前行 tr 的 dom 对象

            var url = data.id;  // 显示详情的链接

            // 详情
            if(layEvent == "details") {
                console.log(123);
                layer.open({
                    type: 2,
                    title: "查看详情",
                    maxmin: true,
                    area: ["50%", "90%"],
                    content: url
                });
            }

            // 删除
            if(layEvent == "del") {
                layer.open({
                    title: "提示",
                    content: '确认删除！',
                    btn: ["确认", "取消"],
                    yes: function (res){
                        layer.closeAll();
                    }
                })
            }

        });

        // 搜索按钮
        $("searchBtn").click(function () {
            searchUser();
        });

        // 当按下回车
        $(document).keypress(function (ev) {
            if( ev.keyCode == 13 ) {
                searchUser();
            }
        });

        // 搜索
        function searchUser() {

        }
    });


</script>


<script type="text/html" id="operation" >
    <a class="layui-btn layui-btn-mini" lay-event="details">详情</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>-->
</script>

<!--状态-->
<script type="text/html" id="statusInfo">
    {{# if(d.status == 0) { }}
        <a style="color: green;">{{ d.statusName }}</a>
    {{# } else { }}
        <a style="color: red;">{{ d.statusName }}</a>
    {{# } }}
</script>