<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>文章已被封！</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0，maximum-scale=1.0,user-scalable=no" />
	</head>
	
	<style type="text/css">
		.warn{
			display: block;
			margin: auto;
			margin-top: 5%;
			width: 20%;
			height: 20%;
		}
		
		.sorry{
			margin-top: 20px;
			text-align: center;
			font-size: 24px;
			font-family: "黑体";
		}
		
		@media(min-width:320px) and (max-width:768px){
			.warn{
				margin-top: 20%;
				width: 60%;
				height: 60%;
			}
			
			.sorry{
				font-size: 18px;
			}
			
		}
		
	</style>
	
	<body>
		<img src="img/Attachment.jpg" class="warn"/>
		<div class="sorry">抱歉，该文章已被封！</div>
	</body>
</html>
