<include file="Template/Common/header.html" />

<css href="__CSS__/bootstrap.min.css" />

<style>
    .navbar {margin-bottom: 0; line-height: 50px; padding: 0 10px;}
    .navbar>input {width: 20%; display: inline;}
    .navbar>button {height: 34px; transform: translateY(-2px);}
    .layui-elem-quote {font-size: 15px;}
</style>
<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">红包列表</blockquote>
        <nav class="navbar navbar-default">
            <input type="text" id="article_name" class="form-control" placeholder="请输入系统名称" />
            <button type="button" class="btn btn-default" id="searchBtn">搜索</button>
        </nav>
        <table id="ArticleList" lay-filter="ArticleList"></table>
    </div>
</body>

<script>
    layui.use('table', function () {
        var table = layui.table;

        layer.load(2);
        // 方法级渲染
        var tableReload = table.render({
            elem: "#ArticleList",
            url: "<{:U('redPacket')}>",
            page: true,
            cols: [[
                {field: 'id', title: 'ID', align: 'center', width:80, sort: true, fixed: 'left'}
                ,{field: 'logo', title: '系统LOGO', align: 'center', width:100, templet: '#sysLogo'}
                ,{field: 'sys_name', title: '系统名称', align: 'center', width:100}
                ,{field: 'article_id', title: '文章ID', align: 'center', width: 100, sort: true}
                ,{field: 'title', title: '文章标题', align: 'center', width: 150}
                ,{field: 'money', title: '领取红包金额', align: 'center', width: 120, sort: true}
                ,{field: 'time', title: '领取红包时间', align: 'center', width: 120, sort: true}
                ,{field: 'status_name', title: '领取状态', align: 'center', width: 100,templet: '#statusInfo', sort: true}
//              ,{title: '操作', width: 150, align: 'center', toolbar: '#operation'}
            ]],
            done: function (res) {
                layer.closeAll();
            }
        });

        // 监听工具栏事件
        table.on('tool(ArticleList)', function (obj) {
            var data = obj.data;    // 获取当前数据
            var layEvent = obj.event;   // 获取 lay-event 对应的值
            var tr = obj.tr;    // 获取当前行 tr 的 dom 对象
            var url = data.id;

            // 详情查看
            if(layEvent == "detail") {
                layer.open({
                    type: 2,
                    title: "查看详情",
                    maxmin: true,
                    area: ["50%", "90%"],
                    content: url
                });
            }

            // 删除
            if(layEvent == "del") {
                layer.open({
                    title: "提示",
                    content: '确认删除！',
                    btn: ["确认", "取消"],
                    yes: function (res){

                    }
                })
            }

        });

        // 搜索按钮
        $("#searchBtn").click(function () {
            searchUser();
        });

        // 当按下回车
        $(document).keypress(function (ev) {
            if( ev.keyCode == 13 ) {
                searchUser();
            }
        });

        // 搜索
        function searchUser() {

            var url = "<{:U(redchargeSearch)}>";
            var data = {
                sys_name: $('#article_name').val()
            };

            layer.load(2);
            tableReload.reload({
                url: url,
                where: data,
                page: {
                    curr: 1
                },
                done: function(res){
                    layer.closeAll();
                }
            });
        }
    });


</script>


<script type="text/html" id="operation" >
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <!--<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>-->
</script>

<!--状态-->
<script type="text/html" id="statusInfo">
    {{# if(d.status == 0) { }}
        <a style="color: green;">{{ d.status_name }}</a>
    {{# } else { }}
        <a style="color: red;">{{ d.status_name }}</a>
    {{# } }}
</script>

<!--显示系统logo-->
<script type="text/html" id="sysLogo">
    <img src="{{ d.logo }}" style="width: 28px; height: 28px; border-radius: 50%;" />
</script>