<!-- 侧边栏 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<{:U('AgencyArticle/AgencyArticleList')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<{:U('AgencyArticle/AgencyArticleIssue')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章发布</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe65e;</i>
                    <cite>充值管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<{:U('AgencyRecharge/AgencyRechargeRecord')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>充值记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<{:U('AgencyRecharge/AgencyVoucherCenter')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>充值中心</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe638;</i>
                    <cite>红包管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<{:U('AgencyRedPacket/AgencyRedPacketList')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>红包列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="<{:U('AgencyRedPacket/AgencyRedPacketSetting')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>红包设置</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe6b8;</i>-->
                    <!--<cite>作者管理</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="<{:U('AgencyAuthor/AgencyAuthorList')}>">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>作者列表</cite>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="<{:U('AgencyAuthor/AgencyAuthorAdded')}>">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>作者添加</cite>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->

            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe606;</i>
                    <cite>联系客服</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="<{:U('AgencyService/AgencyServiceCenter')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>客服中心</cite>
                        </a>
                    </li>
                    <!--<li>
                        <a _href="<{:U('AgencyService/AgencyServiceWeChat')}>">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>客服微信</cite>
                        </a>
                    </li>-->
                </ul>
            </li>

        </ul>
    </div>
</div>