<include file="Template/Common/header.html" />

<css href="__CSS__/bootstrap.min.css" />

<style>
    .navbar {margin-bottom: 0; line-height: 50px; padding: 0 10px; position: relative; top: 20px; left: 15px;}
    .navbar>input {width: 20%; display: inline;}
    .navbar>button {height: 34px; transform: translateY(-2px);}
    .layui-form {position: relative; top: 20px; left: 15px;}
</style>
<body>
    <nav class="navbar navbar-default">
        <input type="text" id="article_name" class="form-control" placeholder="请输入用户名或作者名字" />
        <button typr="button" class="btn btn-default" id="searchBtn">搜索</button>
    </nav>
    <table id="AuthorList" lay-filter="AuthorList"></table>
</body>

<script>

    layui.use('table', function () {
        var table = layui.table;

        layer.load(1);
        // 方法级渲染
        var tableReload = table.render({
            elem: "#AuthorList",
            url: "<{:U('getMemberInfo')}>",
            page: true,
            cols: [[
                {field: 'id', title: 'ID', align: 'center', width:80, sort: true, fixed: 'left'}
                ,{field: 'username', title: '用户名', align: 'center', width: 120, sort: true}
                ,{field: 'agencyId', title: '上级代理ID', align: 'center', width: 100}
                ,{field: 'createTime', title: '创建时间', align: 'center', width: 120, sort: true}
                ,{field: 'loginIp', title: '最后一次登录IP地址', align: 'center', width: 150}
                ,{field: 'wxOpenid', title: '微信openId', align: 'center', width: 210}
                ,{field: 'name', title: '作者名字', align: 'center', width: 100, sort: true}
                ,{field: 'sex', title: '作者性别', align: 'center', width: 100, sort: true}
                ,{field: 'desc', title: '作者描述', align: 'center', width: 200}
                ,{field: 'statusName', title: '状态', align: 'center', width: 80, templet: '#statusInfo', sort: true}
                ,{title: '操作', width: 160, align: 'center', toolbar: '#operation'}
            ]],
            done: function (res) {
                layer.closeAll();
            }
        });

        // 监听工具栏事件
        table.on('tool(AuthorList)', function (obj) {
            var data = obj.data;    // 获取当前数据
            var layEvent = obj.event;   // 获取 lay-event 对应的值
            var tr = obj.tr;    // 获取当前 tr 的 dom 对象

            var url = data.id;  // 显示详情的链接

            // 详情
            if(layEvent == "particulars") {
                console.log(123);
                layer.open({
                    type: 2,
                    title: "查看详情",
                    maxmin: true,
                    area: ["50%", "90%"],
                    content: url
                });
            }

            // 解封
            if(layEvent == "deArchive") {
                layer.open({
                    title: "提示",
                    content: '是否解封！',
                    btn: ["是", "否"],
                    yes: function (res){
                        layer.closeAll();
                    }
                })
            }

            // 封号
            if(layEvent == "sealNumber") {
                layer.open({
                    title: "提示",
                    content: "是否封号！",
                    btn: ["是", "否"],
                    yes: function (res) {
                        layer.closeAll();
                    }
                });
            }
        });



        // 搜索按钮
        $("searchBtn").click(function () {
            searchUser();
        });

        // 当按下回车
        $(document).keypress(function (ev) {
            if( ev.keyCode == 13 ) {
                searchUser();
            }
        });

        // 搜索
        function searchUser() {

        }
    });


</script>


<script type="text/html" id="operation" >
    <!--<a class="layui-btn layui-btn-mini" lay-event="particulars">详情</a>-->
    <a class="layui-btn layui-btn-mini" lay-event="deArchive">解封</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="sealNumber">封号</a>
</script>

<!--状态-->
<script type="text/html" id="statusInfo">
    {{# if(d.status == 0) { }}
        <a style="color: green;">{{ d.statusName }}</a>
    {{# } else { }}
        <a style="color: red;">{{ d.statusName }}</a>
    {{# } }}
</script>