<include file="Template/Common/header.html" />

    <css href="__CSS__/bootstrap.min.css" />

    <style>
        .navbar {margin-bottom: 0; line-height: 50px; padding: 0 10px;}
        .navbar>input {width: 20%; display: inline;}
        .navbar>button {height: 34px; transform: translateY(-2px);}
        .layui-elem-quote {font-size: 15px;}
    </style>
<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">文章列表</blockquote>
        <nav class="navbar navbar-default">
            <input type="text" id="article_name" class="form-control" placeholder="请输入文章标题" />
            <button typr="button" class="btn btn-default" id="searchBtn">搜索</button>
        </nav>
        <table id="ArticleList" lay-filter="ArticleList"></table>
    </div>

</body>

<script>
    layui.use('table', function () {
        var table = layui.table;
        layer.load(1);
        // 方法级渲染
        var tableReload = table.render({
            elem: "#ArticleList",
            url: "<{:U(acqarticle)}>",
            page: true,
            id: 'articleReload',
            cols: [[
               {field: 'id', title: 'ID', align: 'center', width:80, sort: true, fixed: 'left'}
               ,{field: 'title', align: 'center', title: '文章标题', width: 220}
               ,{field: 'content', align: 'center', title: '文章内容', width: 350}
               ,{field: 'create_time', title: '发布时间', align: 'center', width: 180, sort: true}
               ,{field: 'read_count', title: '总阅读量', align: 'center', width: 120, sort: true}
               ,{field: 'share_count', title: '总分享量', align: 'center', width: 120, sort: true}
               ,{field: 'status_name', title: '文章状态', align: 'center', templet: '#statusInfo', width: 140, sort: true}
               ,{title: '操作', width: 180, align: 'center', toolbar: '#operation'}
            ]],
            done: function (res) {
                layer.closeAll();
            }
        });

        // 监听工具栏的事件
        table.on('tool(ArticleList)', function (obj) {
            var data = obj.data;    // 获取当前数据
            var layEvent = obj.event;   // 获得 lay-event 对应的值
            var tr = obj.tr;    // 获得当前 tr 的 dom 对象

            var url = HOST_PATH + "/Admin/Article/ArticleDetail?id=" + data.id;  // 要发送的链接

            // 详情
            if(layEvent == "detail") {
                layer.open({
                    type: 2,
                    title: "查看详情",
                    maxmin: true,
                    area: ["65%", "90%"],
                    content: url
                });
            }

            // 启用
            if (layEvent == "startUsing") {
                layer.open({
                    title: "提示",
                    content: '是否启用该篇文章！',
                    btn: ["是", "否"],
                    yes: function (res){
                        layer.closeAll();

                        if (parseInt(data.status) == 0) {
                            layer.msg("当前状态已正常使用！", {icon: 2});
                            return ;
                        }
                        startbidden(data.id, 0);
                    }
                })
            }

            // 禁用
            if(layEvent == "forbidden") {
                layer.open({
                    title: "提示",
                    content: '禁用该篇文章后不能使用，是否继续！',
                    btn: ["是", "否"],
                    yes: function (res){
                        layer.closeAll();

                        if (parseInt(data.status) == 1) {
                            layer.msg("当前状态已禁用！", {icon: 2});
                            return ;
                        }
                        startbidden(data.id, 1);
                    }
                })
            }

        });

        // 表格重载
        function recordReload() {
            table.reload('articleReload', {
                where: {},
                page: {
                    curr: 2
                }
            });
        }

        // 搜索按钮
        $("#searchBtn").click(function () {
            searchUser();
        });

        // 当按下回车
        $(document).keypress(function (ev) {
            if( ev.keyCode == 13 ) {
                searchUser();
            }
        });

        // 文章启用/禁用
        function startbidden(id, statu) {
            var status = '', icon = '';
            var url = "<{:U(killarticle)}>";
            var data = {
                id: id,
                status: statu
            };

            // 三目判断
            statu ? (status = '禁用', icon = 4) : ( status = '启用', icon = 1);

            layer.load(1);
            // 请求数据
            $.ajax({
                url: url,
                data: data,
                type: 'post',
                success: function (res) {
                    layer.closeAll();

                    if (parseInt(res.code) == 0) {
                        layer.msg( status + "成功！" , { icon: icon}, function (){
                            location.reload();
                        });
                    }
                }
            });
        }

        // 搜索
        function searchUser() {

            var url = "<{:U(ArticleSearch)}>";
            var data = {
                title: $('#article_name').val()
            };

            layer.load(1);
            tableReload.reload({
                url: url,
                where: data,
                page: {
                    curr: 1
                },
                done: function (){
                    layer.closeAll();
                }
            });
        }
    });


</script>


<script type="text/html" id="operation" >
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="startUsing">启用</a>
    <a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="forbidden">禁用</a>
</script>

<!--状态-->
<script type="text/html" id="statusInfo">
    {{# if(d.status == 0) { }}
        <a style="color: green;">{{ d.status_name }}</a>
    {{# } else { }}
        <a style="color: red;">{{ d.status_name }}</a>
    {{# } }}
</script>