<include file="Template/Common/header.html" />

<style>
	.layui-elem-quote {font-size: 15px;}
	span{font-size: 14px; letter-spacing: 2px; display: inline-block; padding: 10px 0 10px 0;}
	#demo{width: 240px; height: 240px;}
	.layui-input{width: 400px; font-size: 18px;}
	.submit {width: 110px;}
	#content{width: 400px; font-size: 16px;}
</style>

<body>
	<div class="x-body">
        <blockquote class="layui-elem-quote">客服设置</blockquote>
        
        <div class="layui-form-item">

            <span>客服名称设置：</span>
            <input type="text" class="layui-input" name="name" id="name"/>

			<span>手机号设置：</span>
			<input type="text" class="layui-input" name="tel" id="tel"/>

            <span>客服微信号：</span>
            <input type="text" class="layui-input" name="wx_access" id="wx_access"/>

			<span>客服说明：</span>
			<textarea name="content" class="layui-textarea" id="content" rows="2"></textarea>

			<div class="layui-upload" style="margin: 10px 0 10px 0;">
				<span>上传微信二维码：</span>
				<button type="button" class="layui-btn" id="upload-btn">上传二维码</button>
				<div id="code" class="layui-upload-list">
					<img class="layui-upload-img" id="upload-img">
					<p id="upload-err"></p>
				</div>
			</div>
		</div>
		<button class="layui-btn layui-btn-normal submit">提交</button>
    </div>
</body>


<js href="__JS__/jquery.qrcode.min.js" />

<script>

	// 保存二维码临时路径
	var wxCode;

	layui.use('upload', function(){
	  	var $ = layui.jquery,
		  	upload = layui.upload,
			qnurl = "https://up.qbox.me";	// 华东https，http://up.qiniu.com（http）
	  
	  	//普通图片上传
	  	var uploadInst = upload.render({
	  		elem: '#upload-btn',
		  	url: qnurl,
			data: {
                token: "<{$qnToken}>"
			},
			before: function(obj){
	      		//预读本地文件示例，不支持ie8
	      		obj.preview(function(index, file, result) {
	        		$('#upload-img').attr('src', result); //图片链接（base64）
	      		});
	    	},
			choose: function() {
			    layer.load(2);
			},
			done: function(res){
				layer.closeAll();
				//如果上传失败
				if(res.code > 0){
					return layer.msg('上传失败，请重试！');
				}
				//上传成功
				layer.msg("图片上传成功!");

				wxCode = res.key;		// 保存二维码临时路径
			},
			error: function(){
				//演示失败状态，并实现重传
				var demoText = $('#upload-err');
					demoText.html('<span style="color: #FF5722; margin: 10px 0 0 0; font-weight: bold;">上传失败，请重试！</span> <a class="layui-btn layui-btn-radius layui-btn-normal demo-reload">重试</a>');

				demoText.find('.demo-reload').on('click', function(){
					uploadInst.upload();
				});
			}
	  	});
    });


	// 提交
	$('.submit').click(function(){

		var sertel = $('[name=tel]').val();				// 获取输入电话数据
		var	sername = $('[name=name]').val();			// 获取客服名字
		var serAccess = $('[name=wx_access]').val();	// 获取客服微信号
		var sercontent = $('[name=content]').val();		// 获取客服说明

		var partel = /^[1][3,4,5,7,8][0-9]{9}$/;	// 正则判断手机号码

		// 判断
		if (sertel == '') {
			layer.msg("手机号不能为空！", {icon: 2});
			return ;
		}
		if ( !partel.test(sertel) ) {
			layer.msg("输入的手机号有误！", {icon: 2});
			return ;
		}
		if (sername == '') {
			layer.msg("客服名字不能为空！", {icon: 2});
			return ;
		}
		if (serAccess == '') {
			layer.msg("客服微信号不能为空！", {icon: 2});
			return ;
		}
		if (sercontent == ''){
			layer.msg("客服说明不能为空！", {icon: 2});
			return ;
		}
		if (wxCode == "" || wxCode == null || !wxCode) {
		    layer.msg("请上传二维码!", {icon: 2});
		    return ;
		}

		var url = "<{:U(custmer)}>";    // 请求接口
		var data = {
			name: sername,     		 	// 客服名字
			tel: sertel,        		// 客服电话
			wx_access: serAccess,       // 客服微信号
			content: sercontent,        // 客服说明
			wx_code: wxCode
		};

		layer.load(2);
		// 数据请求
		$.ajax({
			url: url,
			data: data,
			type: 'post',
			success: function (res) {
			    layer.closeAll();
				if (parseInt(res.code) == 0) {
					layer.msg("客服设置成功！", {icon: 6});

				} else {
					layer.msg("客服设置失败！", {icon: 2});
				}
			}
		});
	});

    showInfo(); // 调用显示函数
    // 显示设置数据
    function showInfo() {
        var url = "<{:U(customerService)}>";

        $.ajax({
            url: url,
            success: function (res) {
                $('#tel').val(res.data.tel);
                $('#name').val(res.data.name);
                $('#content').val(res.data.content);
                $('#wx_access').val(res.data.wx_access);

				$('#upload-img').attr('src', res.data.wx_code);
            }
        });
    }


</script>
